.an {
    visibility: hidden;
}
.hien {
    visibility: visible;
    line-height: 50px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    font-weight: 100;
}
.highlight{
    background-color: green;
    color: aquamarine;
    
}
#hoadon >td,#hoadon >td{
    text-align: center;
}